*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

/* --------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}

.attribution a {
  color: hsl(300deg, 69%, 71%);
}

/* --------------------------- */
.container,
footer {
  background-color: #674baf;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  min-height: 100vh;
}

.content {
  padding: 2em 2.4em;
  background-image: url(../images/bg-mobile.svg);
  background-color: hsl(257deg, 40%, 49%);
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  max-width: 375px;
  box-shadow: 0px 0px 24px -5px rgb(61, 45, 99);
}

.logo,
.mockup-img {
  display: block;
}

.logo {
  width: 125px;
}

.mockup-img {
  margin-top: 3.8em;
  width: 100%;
}

.heading {
  margin-top: 2.5em;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

.text {
  margin-top: 1em;
  font-size: 1.56rem;
  line-height: 26px;
}

.btn-register {
  margin-top: 2em;
  padding: 1em 5.7em;
  border: none;
  border-radius: 20px;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(257deg, 40%, 49%);
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 3px 7px -1px rgb(54, 40, 92);
}
.btn-register:hover {
  background-color: hsl(300deg, 69%, 71%);
  color: hsl(0deg, 0%, 100%);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-top: 4.4em;
}
.icons__circle {
  position: relative;
  padding: 1em;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s, border 0.3s;
}
.icons__circle:hover {
  color: hsl(300deg, 69%, 71%);
  border: 1px solid hsl(300deg, 69%, 71%);
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-twitter {
  font-size: 1.5rem;
}

.fa-instagram {
  font-size: 1.8rem;
}

@media (min-width: 1440px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.3em 5.5em 2.5em 4em;
    max-width: 100%;
    background-image: url(../images/bg-desktop.svg);
    background-size: contain;
  }
  .logo {
    width: 200px;
  }
  .columns {
    display: flex;
    padding-top: 1em;
  }
  .columns__left {
    width: 63%;
  }
  .columns__right {
    width: 37%;
    text-align: left;
    margin-top: 4em;
    margin-left: 3.5em;
  }
  .heading {
    font-size: 4rem;
    line-height: 1.4em;
  }
  .text {
    font-size: 1.55rem;
    line-height: 1.7em;
  }
  .btn-register {
    padding: 1em 4em;
    border-radius: 35px;
    font-size: 2rem;
  }
  .icons {
    margin-top: 0;
    justify-content: flex-end;
  }
  .icons__circle {
    padding: 1.5em;
    border: 1px solid hsl(0deg, 0%, 100%);
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
  }
  .mockup-img,
.heading {
    margin: 0;
  }
  .fa-facebook-f,
.fa-twitter {
    font-size: 2rem;
  }
  .fa-instagram {
    font-size: 2.5rem;
  }
}
@media (min-width: 1560px) {
  .columns__left,
.columns__right {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */